/* ----------------- global styling ---------------------*/
h1, h2, h3, h4, label, p {
    color: white;
}

/* ----------------- seat selection ---------------------*/
.seat {
    background-color: rgb(154, 154, 154);
}
.seat:hover {
    background-color: rgb(199, 189, 189);
}

/* ----------------- date of birth features ---------------------*/
#DoBPickerRegion {
    position:fixed;
    top:8%;
    right:4%;
    width:200px;
    height:200px;
}

.flatpickr-calendar {
  transform: scale(0.8);
  transform-origin: top left;
}

#DoBBtn {
    border: 2px solid black;
    border-radius: 1px
}

/* ----------------- account creation ---------------------*/
.accountType {
    background-color: white;
}

.accountType:hover {
    background-color: rgb(203, 203, 203);
}

.accountType.accountSelected {
    background-color: rgb(170, 170, 170);
}

.accountType.accountSelected:hover {
    background-color: rgb(191, 191, 191);
}

/* ----------------- row selection ---------------------*/

.performanceTableRow:hover > td {
    background-color: #c3cfe1;
}

.selected-performanceTableRow > td {
    background-color: #6ca2ed;
}

.selected-performanceTableRow:hover > td {
    background-color: #508bda;
}

/*------------------ customer tab ui ------------------*/

.tab-selector {
    border: 1px solid black;
    background-color: #d7dce2;
}

.tab-selector:hover {
    background-color: #acaeb2;
}

.tab-selector.selected-tab {
    background-color: #87898e;
    border: 3px solid black;
}

.future-ticket {
    border: 1px solid rgba(255, 255, 255, 0.653);
    background-color: rgba(209, 209, 209, 0.2);
    padding: 5px;
}