:root {
    --tab-widget-width: 50vw;
    --active-tab: 0;
    --tab-display-padding: 2rem;
}

/* ----------------- global styling ---------------------*/
h1, h2, h3, h4, label, p {
    color: white;
}

/* ----------------- seat selection ---------------------*/
.seat {
    background-color: rgba(49, 49, 49, 0.659);
}

.seat:hover {
    background-color: rgb(113, 109, 109);
}

.seat:disabled {
    cursor: not-allowed;
}

.seating-legend {
    background-color: rgba(49, 49, 49, 0.659);
    height: 40px;
    width: 627px;  
    border-radius: 10px; 
    border: 1px solid rgb(94, 94, 94);
}

.seating-floor {
    background-color: rgba(49, 49, 49, 0.659);
    height: 370px;
    width: 627px; 
    border-radius: 10px; 
    border: 1px solid rgb(94, 94, 94);
}

.seating-description {
   height: 70px; 
   width: 627px; 
   background-color: rgba(49, 49, 49, 0.659);
   border-radius: 10px; 
   border: 1px solid rgb(94, 94, 94);
}

/* ----------------- date of birth features ---------------------*/
#DoBPickerRegion {
    position:fixed;
    top:8%;
    right:4%;
    width:200px;
    height:200px;
}

.flatpickr-calendar {
  transform: scale(0.8);
  transform-origin: top left;
}

#DoBBtn {
    border: 2px solid black;
    border-radius: 1px
}

/* ----------------- account creation ---------------------*/
.accountType {
    background-color: white;
}

.accountType:hover {
    background-color: rgb(203, 203, 203);
}

.accountType.accountSelected {
    background-color: rgb(170, 170, 170);
}

.accountType.accountSelected:hover {
    background-color: rgb(191, 191, 191);
}

/* ----------------- row selection ---------------------*/

.performanceTableRow:hover > td {
    background-color: #c3cfe1;
}

.selected-performanceTableRow > td {
    background-color: #6ca2ed;
}

.selected-performanceTableRow:hover > td {
    background-color: #508bda;
}

/*------------------ customer tab ui ------------------*/

.tab-widget { /*whole tabular ui*/
    width: var(--tab-widget-width);
    transition: width 0.3s ease;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 1rem;
    background-color: rgba(49, 49, 49, 0.659);
    box-shadow: 0 10px 20px 0 rgba(73, 73, 73, 0.17);
}

.outer-tab-display { /*tab content*/
    border-left: 1px solid rgb(121, 121, 121);
    border-right: 1px solid rgb(121, 121, 121);
    border-bottom: 1px solid rgb(121, 121, 121);
    border-radius: 5px;
}

.tab-display { /*tab conent*/
    max-height: 540px;
    overflow-y: auto;
    overflow-x: auto;
    padding-top: var(--tab-display-padding);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 8rem;
    scrollbar-width: none; 
    mask-image: linear-gradient(
        to bottom,
        black 70%,
        transparent 95%
    );
}

.ticket {
    border: 1px solid rgba(255, 255, 255, 0.653);
    background-color: rgba(209, 209, 209, 0.2);
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 3px;
}

.tab-menu {
    position: relative;
    isolation: isolate;
    display: flex;
    height: 3.5rem;
    border-block-end: 1px solid rgb(121, 121, 121);
}

.tab-menu input {
    display: none;
}

.tab-menu label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.5 ease-in-out;
    color: #b1b1b1;
}

.tab-menu .selected-tab input {
    color: white;
}

.tab-menu::after {
    pointer-events: none;
    position: absolute;
    content: "";
    inset: 0 0 -1px;
    width: calc((100% / 4) - 2px);
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid rgb(121, 121, 121);
    border-block-end: none;
    background-image: linear-gradient(rgb(120, 120, 120), rgb(49, 49, 49));
    z-index: -1;
    translate: calc(var(--active-tab) * 100%);
    transition: translate 0.5s ease-in-out;
}

:root:has(#future-tickets-tab-btn:checked) {
    --active-tab: 0;
    --tab-widget-width: 50vw;
    --tab-display-padding: 0rem;
}

:root:has(#payments-tab-btn:checked) {
    --active-tab: 1;
    --tab-widget-width: 50vw;
    --tab-display-padding: 0rem;
}

:root:has(#bookMore-tab-btn:checked) {
    --active-tab: 2;
    --tab-widget-width: 70vw;
    --tab-display-padding: 2rem;
}

:root:has(#unapproved-tab-btn:checked) {
    --active-tab: 3;
    --tab-widget-width: 50vw;
    --tab-display-padding: 2rem;
}

.performance-display-column {
    background-color: rgba(49, 49, 49, 0.753);
    border-radius: 0.4rem;
}

.single-performance {
    border: 1px solid white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.single-performance:hover {
    background-color: rgba(67, 67, 67, 0.753);
    box-shadow: 0px 4px 10px rgba(99, 95, 95, 0.2);
}

.single-performance.selected {
    background-color: rgba(85, 85, 85, 0.753);
}


/*------------------------------------------------------------*/

.overlay {
    position: fixed;
    inset: 0;              /* top:0 right:0 bottom:0 left:0 */
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modal-box {
    background: rgba(50,50,50,0.95);
    padding: 2rem;
    border-radius: 1rem;
    width: 400px;
    max-width: 80vw;
}