/* ----------------- global styling ---------------------*/
h1, h2, h3, h4, label, p {
    color: white;
}

/* ----------------- seat selection ---------------------*/
.seat {
    background-color: rgb(154, 154, 154);
}
.seat:hover {
    background-color: rgb(199, 189, 189);
}

/* ----------------- date of birth features ---------------------*/
#DoBPickerRegion {
    position:fixed;
    top:8%;
    right:4%;
    width:200px;
    height:200px;
}

.flatpickr-calendar {
  transform: scale(0.8);
  transform-origin: top left;
}

#DoBBtn {
    border: 2px solid black;
    border-radius: 1px
}

/* ----------------- account creation ---------------------*/
.accountType {
    background-color: white;
}

.accountType:hover {
    background-color: rgb(203, 203, 203);
}

.accountType.accountSelected {
    background-color: rgb(170, 170, 170);
}

.accountType.accountSelected:hover {
    background-color: rgb(191, 191, 191);
}

/* ----------------- row selection ---------------------*/

.performanceTableRow:hover > td {
    background-color: #c3cfe1;
}

.selected-performanceTableRow > td {
    background-color: #6ca2ed;
}

.selected-performanceTableRow:hover > td {
    background-color: #508bda;
}

/*------------------ customer tab ui ------------------*/

.tab-selector {
    border: 1px solid black;
    background-color: #d7dce2;
    margin: 5px;
}

.tab-selector:hover {
    background-color: #acaeb2;
}

.tab-selector.selected-tab {
    background-color: #87898e;
    border: 3px solid black;
    margin: 2px !important
}

.future-ticket {
    border: 1px solid rgba(255, 255, 255, 0.653);
    background-color: rgba(209, 209, 209, 0.2);
    padding: 5px;
}

.tab-widget {
    width: 50vw;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 1rem;
    background-color: rgb(49, 49, 49);
    box-shadow: 0 10px 20px 0 rgba(73, 73, 73, 0.17);
}

#tab-menu {
    display: flex;
    height: 3.5rem;
    border-block-end: 1px solid white;
}

#tab-menu input {
    display: none;
}

#tab-menu label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.5 ease-in-out;
}