{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center">
    <h1>Customer dashboard</h1>
</div>
<section style="height: 50px;"></section>
<div class="d-flex justify-content-center align-items-center">
    <h3>Welcome back, {{ customer_name }}</h3>
</div>
<div class="d-flex justify-content-center align-items-center">
    {% if days_until_performance == None %}
    <p>You dont have any tickets for performances</p>
    <button id="bookMoreBtn">Book more?</button>
    {% else %}
    <p>You have tickets for a performance {% if days_until_performance == 1 %} in {{ days_until_performance }} day 
                                            {% elif days_until_performance == 0 %} today!
                                            {% else %} {{ days_until_performance }} in days {% endif %}</p>
    {% endif %}
</div>
    
<section style="height: 50px;"></section>

<div class="d-flex justify-content-center align-items-center">
    <div class="column tabs">
        <div class="col-md-12 tab-selection-row"> <!-- the top row where you can select the tabs -->
            <button id="future-tickets-tab-btn" class="tab-selector selected-tab">Upcoming Tickets</button>
            <button id="payments-tab-btn" class="tab-selector">Past Payments</button>
            <button id="bookMore-tab-btn" class="tab-selector">Book More</button>
            <button id="unapproved-tab-btn" class="tab-selector">Unapproved Bookings</button>
        </div>
        <div class="col-md-12 tab-display" style="max-height: 300px; overflow-y: auto; padding: 10px; border: 1px solid white;"> <!-- the actual content of the selected tab -->
            <div id="future-tickets-tab-display" class="tab-display" style="margin: 0 auto">
                {% if future_tickets != None %} 
                    {% for i in range(future_tickets|length) %}
                        <section style="height: 5px;"></section>
                        <div id="booking{{ future_tickets[i] }}" class="row future-ticket">
                            <div class="col-md-2 column" style="border-right: 1px dashed white">
                                <div class="row-md-12 row" style="margin: 0 auto; border-bottom: 1px dashed white; padding-left: 5px;">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <p>BookingID</p>
                                    </div>
                                </div>
                                <div class="row-md-12 row">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <p>{{ future_tickets[i][0] }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 column" style="border-right: 1px dashed white">
                                <div class="row-md-12 row" style="margin: 0 auto; border-bottom: 1px dashed white">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <p>Performance</p>
                                    </div>
                                </div>
                                <div class="row-md-12 row">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <p>{{ future_tickets[i][1] }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 column" style="border-right: 1px dashed white">
                                <div class="row-md-12 row" style="margin: 0 auto; border-bottom: 1px dashed white">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <p>Date</p>
                                    </div>
                                </div>
                                <div class="row-md-12 row">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <p>{{ future_tickets[i][2] }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 column" style="border-right: 1px dashed white">
                                <div class="row-md-12 row" style="margin: 0 auto; border-bottom: 1px dashed white">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <p>Seats</p>
                                    </div>
                                </div>
                                <div class="row-md-12 row">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <p>{{ future_tickets[i][3] }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 column">
                                <div class="row-md-12 row" style="margin: 0 auto; border-bottom: 1px dashed white">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <p>Price</p>
                                    </div>
                                </div>
                                <div class="row-md-12 row">
                                    <div class="col-md-12 d-flex align-items-center justify-content-center">
                                        <p>{{ future_tickets[i][4] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section style="height: 5px;"></section>
                    {% endfor %}
                {% else %}
                    <div class="d-flex justify-content-center align-items-center">
                        <p>You have no bookings for future performances</p>
                    </div>
                {% endif %}
            </div>
            <div id="payments-tab-display" class="tab-display d-none">
                
            </div>
            <div id="bookMore-tab-display" class="tab-display d-none">
                
            </div>
            <div id="unapproved-tab-display" class="tab-display d-none">
                
            </div>
        </div>
    </div>
</div>






{% endblock %}