{% extends 'base.html' %}
{% block content %}

<!--Login page-->
<div id="loginPage">
    <h2 class="d-flex justify-content-center align-items-center">Theatre booking</h2>
    <section style="height: 150px;"></section>
    <div class="row">
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <div class="column">
                <div class="row-md-2">
                    <h3>Login to get started</h3>
                </div>
                <div class="row-md-3 mt-4">
                    <label>Username</label>
                    <input>
                </div>
                <div class="row-md-3 mt-2">
                    <label>Password</label>
                    <input>
                </div>
                <div class="row-md-2 mt-4">
                    Or
                </div>
                <div class="row-md-2 mt-4">
                    <button class="btn btn-outline-primary">Create Account</button>
                </div>
            </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <h4>Or alternatively</h4>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <button id="viewPerformancesBtn" class="btn btn-outline-primary mt-3">View currently avaiable performances</button>
        </div>
    </div>
</div>

<!--View currently active performances-->
<div id="viewPerformancesPage" class="d-none">
    <h2 class="d-flex justify-content-center align-items-center">Performances available</h2>
    <section style="height: 150px;"></section>
    <div class="row">
        <div class="col-md-3">
            <table class="table table-bordered table-striped mt-3 text-center">
                <thead style="position: sticky; top: 0;">
                    <tr>
                        <th>Event</th>
                        <th>Seats Available</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody id="performanceTableBody"></tbody>
            </table>
        </div>

        <!-- seating layout-->
        <div id="seatingLayout" class="col-md-9" style="height: 360px; width: 602px; background-color: rgb(219, 218, 218); border: 1px solid rgb(125, 125, 125); border-radius: 5px;">
            <div class="row">
                <section style="width: 50px;"></section>
                {% for k in range(20) %} <!-- top row of seats-->
                    <button id="seat1{{ ['a', 'b', 'c', 'd', 'e','f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o','p', 'q', 'r', 's', 't'][k] }}" class="p-0 seat" style="height: 30px; width: 25px; border: none;"><img src="{{ url_for('static', filename='img/chair_free.png') }}" style="height: 25px; width: auto;"></button>
                {% endfor %}
                <section style="width: 50px;"></section>
            </div>
            {% for i in range(9) %} <!-- rest of the seats-->
                <div class="row">
                            {% for k in range(5) %}
                                <button id="seat{{ 9-i }}{{ ['a', 'b', 'c', 'd', 'e'][k] }}" class="p-0 seat" style="height: 30px; width: 25px; border: none;"><img src="{{ url_for('static', filename='img/chair_free.png') }}" style="height: 25px; width: auto;"></button>
                            {% endfor %}
                            <section style="width: 50px;"></section>
                            {% for k in range(10) %}
                                <button id="seat{{ 9-i }}{{ ['f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o'][k] }}" class="p-0 seat" style="height: 30px; width: 25px; border: none;"><img src="{{ url_for('static', filename='img/chair_free.png') }}" style="height: 25px; width: auto;"></button>
                            {% endfor %}
                            <section style="width: 50px;"></section>
                            {% for k in range(5) %}
                                <button id="seat{{ 9-i }}{{ ['p', 'q', 'r', 's', 't'][k] }}" class="p-0 seat" style="height: 30px; width: 25px; border: none;"><img src="{{ url_for('static', filename='img/chair_free.png') }}" style="height: 25px; width: auto;"></button>
                            {% endfor %}
                </div>
            {% endfor %}
            <section style="height: 30px;"></section>
            <nav class="d-flex align-items-center justify-content-center"><div style="height: 30px; width: 360px; background-color: grey; border: 2px solid black;" class="d-flex align-items-center justify-content-center">Screen</div></nav>
        </div>


    </div>
</div>

<script>
document.getElementById("viewPerformancesBtn").addEventListener("click", () => {
    document.getElementById("loginPage").classList.add("d-none")
    document.getElementById("viewPerformancesPage").classList.remove("d-none")
    fetch("/performance-data", { /* this sends the requested data to python for sql processing */
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({})
    })
    .then (res => res.json())
    .then(data => {
        for (let i=0; i < data.length; i++) {
            let row = document.getElementById("performanceTableBody").insertRow()
            row.dataset.description = data[i][j] //embedd event description in the row

            for (let j=0; j < 3; j++) {
                row.insertCell(data[i][j]) //dynamically add the cells to the table list
            }
        }
    })
})

//detects what seat (button or img) was clicked on only within the seatingLayout <div>
document.getElementById("seatingLayout").addEventListener("click", (event) => {
    if (event.target.tagName === 'BUTTON') {
        if (event.target.classList.contains('selected')) {
            event.target.classList.remove('selected')
            event.target.querySelector('img').src = 'static/img/chair_free.png'
        } else {
            event.target.classList.add('selected')
            event.target.querySelector('img').src = 'static/img/chair_selected.png'
        }
    } else if (event.target.tagName === 'IMG') {
        if (event.target.closest('button').classList.contains('selected')) {
            event.target.closest('button').classList.remove('selected')
            event.target.src = 'static/img/chair_free.png'
        } else {
            event.target.closest('button').classList.add('selected')
            event.target.closest('img').src = 'static/img/chair_selected.png'
        }
    }
})


</script>

{% endblock %}